.page {
    background-color: white;
}

.page-separator-left {
    padding: 15px;
    background: linear-gradient(to left, #eeeeee, white);
}

.page-separator-right {
    padding: 15px;
    border-left: 1px solid #333333;
    background: linear-gradient(to right, #eeeeee, white);
}

.osd {
    background: transparent;
}

.btn-overlay-left {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-overlay-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-option {
    padding-left: 4px;
    padding-right: 4px;
}
