/*
 * Customise the style of the application window with the Quran pages
 * TODO: should be matched programmatically with the Quran page colour
 **/
#page {
    background-color: white;
}

/*
 * Draw a two-page fold line so it looks like the real book
 **/
#page-fold-left {
    padding: 10px;
    background: linear-gradient(to left, #eeeeee, white);
}
#page-fold-right {
    padding: 10px;
    border-left: 1px solid #cccccc;
    background: linear-gradient(to right, #eeeeee, white);
}

/* TODO: add a border caligraph ornament */
.tarajem-scroll {
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, .9);
}

.box-tarajem {
    background-color: white;
}
.box-tarajem row {
    padding: 0px;
    margin: 15px;
    margin-top: 0px;
    font-size: 12pt;
    font-weight: 500;
    border-radius: 5px;
}
.box-tarajem row:first-child {
    margin-top: 15px;
}
.box-tarajem row:nth-child(2n+1) {
    color: #111111;
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
}
.box-tarajem row:nth-child(2n) {
    color: #222222;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
}

.box-tarajem box > label {
    padding: 10px 20px 0px 20px;
}
/* For the surah-ayah numbering */
.box-tarajem box > label:first-child {
    padding: 5px 20px;
    font-size: 9pt;
    color: #333333;
}
/* For the translation contents */
.box-tarajem box > label:nth-child(2) {
    padding-top: 5px;
}
.box-tarajem box > label:last-child {
    padding-bottom: 10px;
}
.box-tarajem row:nth-child(2n+1) box > label:first-child {
    border-bottom: 1px solid #cccccc;
}
.box-tarajem row:nth-child(2n) box > label:first-child {
    border-bottom: 1px solid #dddddd;
}

/* For the translation contents being hovered/focused */
#row-focused {
    color: black;
    background-color: #d0ddec;
    border: 1px solid #0076ff;
}
#row-hovered {
    color: black;
    background-color: #cfcfcf;
    border: 1px solid #a8a8a8;
}
/* For the surah-ayah numbering being hovered/focused */
#row-focused box > label:first-child {
    color: #0076ff;
    background-color: #d0ddec;
    border-bottom: 1px solid #0076ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#row-hovered box > label:first-child {
    border-bottom: 1px solid #a8a8a8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.frame,
.frame viewport {
    border-radius: 5px;
}

.box-tarajem-option row {
    padding: 10px;
    border-bottom: 1px solid #111111;
}

.osd {
    background: transparent;
}

.btn-overlay-left {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-overlay-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-option {
    padding: 0px 4px;
}
