.page {
    background-color: white;
}

.page-separator-left {
    padding: 10px;
    background: linear-gradient(to left, #eeeeee, white);
}

.page-separator-right {
    padding: 10px;
    border-left: 1px solid #cccccc;
    background: linear-gradient(to right, #eeeeee, white);
}

/* .page-scroll {
    border: 1px solid #cccccc;
} */

.box-overlay {
    background-color: white;
}

.box-overlay row {
    padding: 20px;
    font-size: 13pt;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.box-overlay row:first-child {
    margin-top: 0px;
}

.box-overlay row:nth-child(2n+1) {
    color: #111111;
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
}

.box-overlay row:nth-child(2n) {
    color: #222222;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
}

/* .box-overlay row:focus,
.box-overlay row:selected {
    color: #0076ff;
    background-color: #d0ddec;
} */

.box-overlay label::first-line {
    color: red;
}

.osd {
    background: transparent;
}

.btn-overlay-left {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-overlay-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.btn-option {
    padding-left: 4px;
    padding-right: 4px;
}
